<!DOCTYPE html>
<html lang="es">
  <head>
    <partial src="_head.html"></partial>
    <link href="./assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="showroom">
      <button class="reset-button">
        <i class="far fa-trash-alt"></i>
        Reset</button>
      <div class="layout">
        <h1 class="layout__title">Gatete Frog</h1>
        <p class="layout__text">Front-end developer</p>
        <img class="photo" src="../assets/images/sample.jpg" alt="" title="tu foto">
        <nav>
          <ul class="media-icons">
            <li class="media-icon">
              <a href="" alt="Phone number" title="Call">
                <div class="fas fa-mobile-alt" style="color:#114e4e"></div>
              </a>
            </li>
            <li class="media-icon">
              <a href="" alt="Mail" title="Mail">
                <div class="far fa-envelope" style="color: #114e4e"></div>
              </a>
            </li>
            <li class="media-icon">
              <a href="" alt="Linkedin" title="Go to Linkedin">
                <div class="fab fa-linkedin-in" style="color:#114e4e" ></div>
              </a>
            </li>
            <li class="media-icon">
              <a href="" alt="Github" title="Go to Github">
                <div class="fab fa-github-alt" style="color:#114e4e"></div>
              </a>
            </li>

          </ul>
        </nav>
      </div>

    </div>
    <partial src="_header.html"></partial>
    <partial src="_footer.html"></partial>
  </body>
</html>
