/* SECTION DESIGN */
.section-design,
.section-fill,
.section-share {
  margin: 0 15px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 20px;
}
.section-design__title,
.section-fill__title,
.section-share__title {
  /* realizar un mixins para los titulos de secciones */
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #54585a;
  font-weight: 600;
}
.arrow-icon {
  text-align: right;
}
.section-design__colors {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;

  /* display: none; */
}
.section-design__colors__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  color: #54585a;
}
.section-design__form__color--palette01 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.section-design__form__color--list {
  display: flex;
  margin-left: 10px;
  list-style: none;
}
/* LISTA DE COLORES */
.list--color {
  width: 30px;
  height: 25px;
}
.list--color:first-child {
  background-color: #114e4e;
}
.list--color:nth-child(2) {
  background-color: #438792;
}
.list--color:last-child {
  background-color: #a2deaf;
}

/* SECTION RELLENA */
.section-fill__form {
  padding-top: 10px;
}
.section-fill__form input,
.section-fill__form label {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}
.section-fill__form label {
  color: #114e4e;
  padding: 7px 0px;
}
.section-fill__form input {
  border: 1px solid #a2deaf;
  padding: 6px 9px;
  margin-bottom: 10px;
}
.section-fill__form input::placeholder {
  color: #c5c5c5;
}
.section-fill__form button {
  border: none;
  padding: 5px 22px;
  background-color: #e17334;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
  cursor: pointer;
}

/* SECTION SHARE */
.section-share__form {
  text-align: center;
}
.section-share__form button {
  border: none;
  padding: 13px 18px;
  background-color: #e17334;
  border-radius: 12px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  color: white;
  font-size: 18px;
  font-weight: 600px;
  margin: 20px 0;
  line-height: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
