<<<<<<< HEAD
.showroom {
    width: 320px;
    height: 457px;
    background: $backgroundFade1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout {
    width: 240px;
    height: 329px;
    background-color: $white;
    box-shadow: 2px 2px 5px #666;
}

.reset-button {
    width: 75px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-family: $textFont1;
    background-color: transparent;
    text-transform: uppercase;
    
}

.layout__title {
    font-family: $cardFont2;
    font-size: 18px;
}

.layout__text {
    font-family: $cardFont1;
    font-size: 16px;
}

.photo {
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
}

.media-icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.media-icon {
    width: 32px;
    height: 32px;
    border: 2px solid $bright-green;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
=======
.showroom {
  width: 320px;
  height: 457px;
  padding: 38px 35px 40px 45px;
  background: $backgroundFade1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout {
  width: 240px;
  height: 329px;
  padding: 21px 0 12px 0;
  background-color: $white;
  box-shadow: 1px 1px 5px #666;
}

.reset-button {
  width: 75px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-family: $textFont1;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  color: $textColor;
}

.showroom-card__blue-box {
  width: 5px;
  height: 42px;
  background: $bright-blue;
  position: fixed;
}

.layout__title {
  font-family: $cardFont2;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 4px;
  color: $dark-blue;
}

.layout__text {
  font-family: $cardFont1;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: $textColor;
}

.photo {
  width: 240px;
  height: 200px;
  margin-bottom: 10px;
}

.media-icons {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-left: 20px;
}

.media-icon {
  width: 32px;
  height: 32px;
  border: 2px solid $bright-green;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
>>>>>>> 052afcb5a6e1fcc524bef058c9b900578fdd4696
