.showroom {
    width: 320px;
    height: 457px;
    background: $backgroundFade1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layout {
    width: 240px;
    height: 329px;
    background-color: $white;
    box-shadow: 2px 2px 5px #666;
}

.reset-button {
    width: 75px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-family: $textFont1;
    background-color: transparent;
    text-transform: uppercase;
    
}

.layout__title {
    font-family: $cardFont2;
    font-size: 18px;
}

.layout__text {
    font-family: $cardFont1;
    font-size: 16px;
}

.photo {
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
}

.media-icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.media-icon {
    width: 32px;
    height: 32px;
    border: 2px solid $bright-green;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}