// DISTRIBUTION

.index-main {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__image {
    padding-top: 21%;
    width: 250px;
  }
  &__title {
    padding-top: 8%;
  }
  &__list {
    margin-top: 4%;
    width: 268px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__button {
    margin-top: 9%;
  }
}

// TABLET

@media all and (min-width: 768px) {
  .index-main {
    height: 94vh;
    &__image {
      padding-top: 37%;
      width: 419px;
    }
    &__title {
      padding-top: 3%;
    }
    &__list {
      margin-top: 3%;
    }
    &__button {
      margin-top: 15%;
    }
  }
}

// STYLES
.index-main {
  background-color: $backgroundColor1;
  &__title {
    color: $orange;
    font-size: 19.2px;
    font-family: $specialFont;
  }
  &__content {
    color: $textCard;
    font-size: 12.8px;
    font-family: $textFont1;
  }
}
// border cajas
.index-main {
  border: solid 2px red;
  &__list {
    border: solid 2px green;
  }
}
