@mixin t($fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  @content;
}

@mixin titleSectionDesign() {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
