// home page color palette
$black: black;
$white: white;
$khaki: #f9f4dc;
$orange: #e17334;
$dark-blue: #114e4e;
$bright-blue: #438792;
$bright-green: #a2deaf;

// color items

// texts
$textColor: #54585a;
$textColor2: #6b6b6b;
$textColor3: $white;
$textCard: $dark-blue;

// backgrounds
$backgroundColor1: #f5f5f5;
$backgroundColor2: #d5d5d5;
$backgroundFade1: linear-gradient(#bfcdd0, #dde9ed);
$backgroundFade2: linear-gradient(#f5f5f5, #ffffff);
$twitter: #00a0f5;

// user color palettes

// user color palette Greenish
$userPaletteGreenish1: $dark-blue;
$userPaletteGreenish2: $bright-blue;
$userPaletteGreenish3: $bright-green;

// user color palette Blood
$userPaletteBlood1: #420101;
$userPaletteBlood2: #bd1010;
$userPaletteBlood3: #e95626;

// user color palette Office
$userPaletteOffice1: #3e5b65;
$userPaletteOffice2: #eab052;
$userPaletteOffice3: #a0c0cf;

// fonts
$textFont1: 'OpenSans, regular 400';
$textFont2: 'OpenSans, semibold 600';
$textFont3: 'OpenSans, bold 700';

$cardFont1: 'Montserrat, regular 400';
$cardFont2: 'Montserrat, bold 700';

$specialFont: 'Merriweather, black 900';
